<!DOCTYPE html>
<html>
    <head>
        <title>Main Page Client</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body>
        <div>
            <h2>Enter the values of a test image</h2>
                <div>
                    <form action="http://127.0.0.1:5000/prediction" method="POST">
                        <fieldset>
                            <legend>select test image to send:</legend>
                            <label for="Image_number">Image_number:</label>
                            <input type="text" id="Image_number" name="Image_number"><br>

                            <!--label for="sepal_width">sepal_width:</label>
                            <input type="text" id="sepal_width" name="sepal_width"><br>

                            <label for="petal_length">petal_length:</label>
                            <input type="text" id="petal_length" name="petal_length"><br>

                            <label for="petal_width">petal_width:</label>
                            <input type="text" id="petal_width" name="petal_width"><br-->
                            <button type="submit">Submit</button>
                        </fieldset>
                    </form>
                </div>
                <div class="text-center">
                    <img src="../static/images/{{product}}.png" class="rounded" alt="product" width=300>
                </div>
                <!--form action="http://127.0.0.1:5000/test_prediction" method="POST" enctype="multipart/form-data"-->
                <form action="{{url_for('test_pred')}}" method="POST" enctype="multipart/form-data">
                    <label for="imageUpload">Choose an image to upload:</label>
                    <input type="file" id="imageUpload" name="file" accept="image/*">
                    <input type="submit" value="Upload_Image">
                </form>
        </div>


    </body>
</html>
