<!DOCTYPE html>
<html>
    <head>
        <title>Main Page Client</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body>
        <div>
            <h1 style="color:blue;text-align:center;font-size: 40px;">Choisissez une image de fruit à détecter par IA</h2>
                <div>
                    <form action="{{url_for('test_pred')}}" method="POST" enctype="multipart/form-data">
                        <fieldset>
                            <legend style="font-size: 24px">Choisissez une image à envoyer</legend>
                            <br>
                            <!--label style="font-size: 20px" for="imageUpload">image à envoyer</label!-->
                            <input style="display: inline-block; padding: 10px 20px; font-size: 20px; font-weight: bold;  text-align: center;  border-radius: 5px;"type="file" id="imageUpload" name="file" accept="image/*">
                            <input style="display: inline-block; padding: 10px 20px; font-size: 20px; font-weight: bold;  color: white; background-color: blue; text-align: center;  border-radius: 5px;" type="submit" value="Envoyer l'image">
                            <br>

                        </fieldset>
                    </form>
                </div>
                <div class="text-center">
                    <!--img src="../static/images/{{product}}.png" class="rounded" alt="product" width=300 !-->

        </div>


    </body>
</html>
